# Project: Investigate a Dataset - Medical Appointment No Shows

## Table of Contents
<ul>
<li><a href="#intro">1. Introduction</a></li>
<li><a href="#wrangling">2. Data Wrangling</a></li>
<li><a href="#eda">3. Exploratory Data Analysis</a></li>
<li><a href="#conclusions">4. Conclusions</a></li>
<li><a href="#references">5. References</a></li>
</ul>

<a id='intro'></a>
## 1. Introduction

This analysis is part of the Udacity Data Analysis Nanodegree Program and aims to explore the dataset of medical appointments no show in Brazil. This analysis is divided in four main parts:
1. *Introduction*, where the initial info is provided and the problem is set.
2. *Data Wrangling*, where the data is cleaned and prepared for analysis.
3. *Exploratory Data Analysis*, where key patterns are to be found.
4. *Conclusions*, in which the insights are described.

### Dataset Description 
This dataset contains over 100K medical appointments realized in Brazil. The information provided concerns The Brazil Public health system, known as SUS (*Sistema Único de Saúde*, Unified Health System), one of the largest health system in the world and entirely free of any cost. Being a system for over 220 million Brazillians and foreigners.

The dataset have 14 columns as so:
1. **PatientID**, Identification of a patient.
2. **AppointmentID**, Identification of each appointment.
3. **Gender**, "M" for Male and "F" for Female.
4. **ScheduledDay**, the day the patient set up the appointment.
5. **AppointmentDay**.
6. **Age**.
7. **Neighbourhood**, the location of the appointment.
8. **Scholarship**, whether the patient is enrolled in *Bolsa Família*.
9. **Hipertension**, True or False.
10. **Diabetes**, True or False.
11. **Alcoholism**, True or False.
12. **Handcap**, True or False.
13. **SMS_received**, True or False.
14. **No-show**, Categorical type, if the appointment was a no-show or not.

### Question(s) for Analysis

In [53]:
# import necessary packages for analysis and data visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a id='wrangling'></a>
## Data Wrangling

In this section of the report, the data will be loaded in, checked for cleanliness, cleanned as necessary.

In [54]:
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [56]:
df.duplicated().value_counts()

False    110527
dtype: int64

As it is seen in the previous outputs, there is no missing data and no duplicated data.

In [57]:
# Rename incorrect column names and simplify
df.rename(columns={'Hipertension': 'Hypertension',
                   'Handcap': 'Handicap',
                   'SMS_received': 'SMSReceived',
                   'No-show': 'NoShow'},
                   inplace=True);

### Categorical Data

#### PatientId
The column is loaded as *float64*, but it represents the unique identification of the patient. So there is no reason to apply any numerical operations.

In [58]:
# Change the dtype of PatientId to string
# The PatientId is changed to int first, just to remove the decimals and have a cleaner look
df['PatientId'] = df['PatientId'].astype('int64').astype(str)

In [60]:
# Checking for number of uniques patients Id.
df.PatientId.nunique()

62299

The lower number of unique patients indicates that one or more patients made more than one appointment.

#### Appointment ID
As so as Patient ID, this data should be a string value.

In [61]:
# Change the dtype of AppointmentID
df['AppointmentID'] = df['AppointmentID'].astype(str)

In [62]:
df['AppointmentID'].nunique()

110527

This column have all unique values and cotains the information generated by a system do unique identify appointments. For the analysis, this columns will be used as index for more clarity and meaning to the index.

In [63]:
df.set_index('AppointmentID', drop=True, inplace=True)

#### Gender and No-Show
Both will be checked for any inconsistenses and have the datatype change to categorical for data efficiency

In [64]:
#Checking for the different values
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [65]:
# Changing the dtype to category
df['Gender'] = df['Gender'].astype('category')

In [66]:
df.NoShow.unique()

array(['No', 'Yes'], dtype=object)

In [67]:
# Changing the dtype to category
df['NoShow'] = df['NoShow'].astype('category')

#### Neighbourhood

### Datetime data

### Numeric data


### Data Cleaning
> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations. Remember to utilize the visualizations that the pandas library already has available.



> **Tip**: Investigate the stated question(s) from multiple angles. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables. You should explore at least three variables in relation to the primary question. This can be an exploratory relationship between three variables of interest, or looking at how two independent variables relate to a single dependent variable of interest. Lastly, you  should perform both single-variable (1d) and multiple-variable (2d) explorations.


### Research Question 1 (Replace this header name!)

In [68]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [69]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed in relation to the question(s) provided at the beginning of the analysis. Summarize the results accurately, and point out where additional research can be done or where additional information could be useful.

> **Tip**: Make sure that you are clear with regards to the limitations of your exploration. You should have at least 1 limitation explained clearly. 

> **Tip**: If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> **Tip**: Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should see output that starts with `NbConvertApp] Converting notebook`, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> **Tip**: Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> **Tip**: Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

<a id='references'></a>
## References
- [Applying heatmaps for categorical data analysis](https://www.kaggle.com/code/tsilveira/applying-heatmaps-for-categorical-data-analysis/notebook)
- [Predict Show/NoShow - EDA+Visualization+Model](https://www.kaggle.com/code/samratp/predict-show-noshow-eda-visualization-model)

https://en.wikipedia.org/wiki/Sistema_%C3%9Anico_de_Sa%C3%BAde

- [Project data by Kaggle](https://www.kaggle.com/datasets/joniarroba/noshowappointments)

In [70]:
# Running this cell will execute a bash command to convert this notebook to an .html file
!python -m nbconvert --to html Investigate_a_Dataset.ipynb

[NbConvertApp] Converting notebook Investigate_a_Dataset.ipynb to html
[NbConvertApp] Writing 306358 bytes to Investigate_a_Dataset.html